services:
  raspirunner:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./Raspi_Commands:/Raspi_Commands
      - ./Commands:/root/Raspi_Runner/Commands
      - ./raspirunner:/opt/raspirunner
    environment:
      - TZ=America/Los_Angeles
    dns:
      - 8.8.8.8
      - 1.1.1.1
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: 3
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    restart: unless-stopped
