services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - GUID=1000
      - TZ=America/Los_Angeles
      - SERVERURL={REDACTED}
      - SERVERPORT=51820
      - PEERS=20
      - PEERDNS=auto
      - INTERNAL_SUBNET=10.10.10.0
      - ALLOWEDIPS=0.0.0.0/0
      - PERSISTENTKEEPALIVE_PEERS=all
      - LOG_CONFS=true
    ports:
      - 1194:51820/udp
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    restart: unless-stopped
