services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8443:443/tcp"
    environment:
      TZ: 'America/Los_Angeles'
      HOSTNAME: 'rpi-server'
      WEBPASSWORD: '{REDACTED PASSWORD}'
      FTLCONF_LOCAL_IPV4: '192.168.1.2'
      PIHOLE_DNS_: '8.8.8.8;8.8.4.4'
      VIRTUAL_HOST: 'rpi-server'
      DNSMASQ_LISTENING: 'all'
      WEBTHEME: 'default-darker'
    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
